<div class="hero">
    <br />
    <div class="frosty col-4 text-center">
      <br />
      <h2>Welcome to Yummies Recipe Website</h2>
      <br />
      <h5>You can create your own recipe book in the website</h5>
      <br />
    </div>
</div>