<div class="hero">
    <br />
    <div class="frosty col-4 text-center">
      <br />
      <h2>Welcome to Yummies Recipe Website</h2>
      <br />
      <h5>You can create your own recipe book in the website</h5>
      <br />
    </div>
  </div>
    <br />
    <br />
    
    <div class="row feature text-center">
    <div class="col-12 col-sm">
      <img class="catagory" src="#">  
      <p>
      <% @categories.each do |c| %>
      <h5><%= link_to catagory.title, category_path(c) %></h5>
      <% end %>
      </p>
    </div>

    <div class="col-12 col-sm">
      <img class="catagory" src="#">  
      <h5>Dessert</h5>
    </div>

    <div class="col-12 col-sm">
      <img class="catagory" src="#">  
      <h5>Pasta</h5>
    </div>
</div>

