<br />
<div class="booyah-box col-10 offset-1">
<h1 class="text-center">My Cookbook</h1>
<br />


<div class="row feature text-center">
      <% @categories.each do |c| %>
    <div class="col-12 col-md-4">
      <%= link_to cookbook_path(c) do %>
      <%= image_tag c.photo.to_s, class: 'image' %>    
      <h5><%= c.title %></h5>
      <% end %>     
      <br />
    </div>
    <% end %>
  </div>
  </div>
