@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

.navbar-inverse .navbar-brand {
  color: #DE781F;
  font-family: 'Satisfy', cursive;
  font-weight: 600;
  font-size: 32px;
}

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
}

