@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

.navbar-inverse .navbar-brand {
  color: #eb1338;
  font-family: 'Satisfy', cursive;
  font-weight: 600;
  font-size: 32px;
}

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('debut_dark.png')
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #c6c6c6;
}

h1, h2, h3,h4,h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.35);
  color: white;
}

.frosty h2 {
  font-family: 'Satisfy', cursive;
  font-weight:200;
  text-shadow: rgba(0,0,0,0.4) 1px 1px;
}

.frosty h5 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  color: #777777;
}

body {
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.catagory {
  width: 250px; 
  height: 330px;
  margin-bottom: 20px;
  
}



.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}
.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}