<br />
<div class="booyah-box col-10 offset-1">
<h1 class="text-center"><%= @category.title %></h1>
<br />


<div class="row feature text-center">
  <% @category.recipes.each do |r| %>
  <div class="col-12 col-sm">
    <img class="catagory" src="#"> 
    <p><%= link_to r.title, recipe_path(r) %></p>
  <% end %>
  </div>
</div>





